/* First Section of page */
.container-1 {
    width: 100%;
    padding: 10px;
    margin: 0;
}
.mobile-col {
    display: none;
}
.mobile-col h1 {
    font-style: normal;
    font-weight: bold;
    line-height: 50px;
    color: #000000;
}
.mobile-col p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}
.right-1 {
    display: block;
}
.right-1 img{
    width: 100%;
}
.left-text-div {
    padding: 60px;
}
.left-text-div h2 {
    text-transform: uppercase;
    font-weight: bolder;
}
.left-text-div p {
    font-size: 17px;
    line-height: 25px;
}
.left-text-div button {
    border: none;
    padding: 7px 25px;
    background: #1089FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #fff;
    z-index: 1;
}
.explore {
    width: 100%;
    padding: 10px;
    border: 1px solid #1089FE;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    background: transparent;
}
.join {
    width: 100%;
    padding: 10px;
    background: #1089FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    color: #fff;
}
.ellipse {
    position: relative;
    top: -100px;
}
/* End of First Section of Page */

/* Second Section */
.container-2 {
    width: 100%;
    padding: 10px;
    margin-top: -320px;
}
.header-2-div {
    text-align: center;
}
.header-2-div h3 {
    font-weight: bold;
}
.tabs-div {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabs-div h6 {
    font-weight: bold;
    margin: 7px;
    padding: 10px;
}
.active {
    border-bottom: 5px solid #FFC806;
}
.slideshow-div {
    width: 50%;
    margin: 30px auto;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.slideshow-img-div img{
    width: 100%;
}
.slideshow-text {
    background: #E7E7E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.slideshow-text img {
    width: 100px;
    margin-left: 30px;
}
.base-text {
    padding-left: 15px;
}
.base-text p {
    margin: 0;
}
.base-text h2 {
    font-size: 30px;
    font-weight: bold;
}
.dots-div {
    text-align: center;
}
.dots span {
    font-size:40px;
}
/* End of Second Section */

/* Third Section */
.container-3 {
    width: 100%;
    padding: 10px;
    margin-bottom: 100px;
    
}
.header-3-div {
    text-align: center;
    margin-bottom: 40px;
    
}
.why-flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.why {
    width: 300px;
}
.why h4 {
    font-weight: bold;
}
.why img {
    width: 45px;
}
/* End of Third Section */

/* Forth Section */
.container-4 {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    
}
.header-4-div {
    text-align: center;
    margin-bottom: 40px;
}
.feat-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.feat {
    width: 300px;
}
.un {
    width: 45px;
}
.special {
    width: 300px;
}
/* End of Forth Section */

/* Fifth Section */
.container-5 {
    width: 100%;
    margin-bottom: 50px;
    
}
.header-5-div {
    text-align: center;
    margin-bottom: 40px;
    
}
.card-1 {
    background-image: linear-gradient(90deg, #6101ab7a, #6101ab7a), url('../images/Explore/mobile-technology\ 1.png');
    margin: 10px 0;
    width: 100%;
    padding: 5px;
    color: #fff;
}
.card-2 {
    background-image: linear-gradient(90deg, #02007885, #02007885), url('../images/Explore/top-web-development-tools-every-developer-should-use\ 1.png');
    margin: 10px 0;
    width: 100%;
    padding: 5px;
    color: #fff;
}
.card-3 {
    background-image: linear-gradient(90deg, #d2000083, #d2000083), url('../images/Explore/Enterprise-Inertia-Slowing-Down-DevSecOps-1280x720\ 1.png');
    margin: 10px 0;
    width: 100%;
    padding: 5px;
    color: #fff;
    
}
.card-icon-div {
    text-align: center;
}
.card-icon-div img{
    margin: auto;
}
.card-1 h3, .card-2 h3, .card-3 h3 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
/* End of Fifth Section */

/* Sixth Section */
.container-6 {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    
}
.header-6-div {
    text-align: center;
    margin-bottom: 40px;
}
.header-6-div h2 {
    font-weight: bold;
}
.course-div {
    width: 200px;
    margin: 20px auto;
}
.course-div img {
    border: 2px solid rgba(0, 0, 0, 0.281);
    padding: 50px 10px;
}
.course-div h6 {
    font-weight: bold;
    font-size: 20px
}
.view-btn {
    background: #1088FB;
    color: white;
    padding: 5px 10px;
    border: none;
}
.container-6 div.row {
    margin-bottom: 40px;
}
.more-courses-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.view-more {
    border: 1px solid #000000;
    background: transparent;
    padding: 8px 16px;
    color: #1089FE;
}
/* End of Sixth Section */

/* Seventh Section */
.container-7 {
    width: 100%;
    margin-bottom: 50px;
    
}
.main-7-text {
    margin: auto;
    text-align: center;
    max-width: 1000px;
}
.main-7-text h2 {
    font-weight: bold;
    padding-bottom: 30px;
    
}
.sub-form-div {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.email-box {
    padding: 20px 20px;
    width: 55%;
}
.sub-btn {
    padding: 22px 50px;
    border: none;
    margin-left: -10px;
    border-left: 1px solid black;
    background: #1185F6;
    color: #fff;
}
/* End of Seventh Section */

/* Footer */
.footer {
    max-width: 100%;
    /* padding: 20px; */
    background: #222222;
    margin: 0;
    color: #fff;
    padding: 30px;
}
.footer-logo p {
    line-height: 25px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rows ul li {
    padding: 10px;
}
.last {
    padding-top: 30px;
    text-align: center;
}
.icons {
    font-size: 40px;
}
.social ul {
    text-align: center;
}
/* End of Footer */

/*  Start Media Queries */
@media screen and (max-width: 700px) {
    .body {
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7 {
        padding: 10px;
    }
    .navbar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .menus {
        display: none;
        position: relative;
        width: 100%;
        top: 0;
    }
    .menus ul li {
        display: block;
        width: 100%;
        /* text-align: center; */
    }
    .search-div {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .hamburger span {
        font-size: 40px;
    }
    .search {
        display: block;
    }
    .logo img {
        width: 120px;
    }
    .nav-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .left-1 {
        display: none;
    }
    .right-1 {
        width: 100%;
        text-align: center;
    }
    .ellipse {
        display: none;
    }
    .mobile-col {
        display: block;
    }

    /* Second Section */
    .container-2 {
        margin: 0;
    }
    .slideshow-div {
        width: 90%;
        border-radius: 10px;
        overflow: hidden;
    }
    .slideshow-text {
        border-radius: 0 0 10px 10px;
        text-align: center;
    }
    .slideshow-text img {
        display: none;
    }
    .base-text {
        width: 100%;
    }
    /* End of Second Section */

    /*The third section is already responsive */

    /* Forth Section */
    .sp {
        display: none;
    }
    /* End of Forth Section */

    /* Fifth section is seems okay */

    /* Sixth Section */
    .container-6 .row .col-md-3 {
        width: 100%;
    }
    .course-div {
        width: 100%;
    }
    /* End of Sixth Section */

    /* Seventh Section */
    .sub-btn {
        /* display: none; */
        padding: 22px 40px;
    }
    /* End of Seventh Section */

    /* Footer */
    .footer-flex {
        display: block;
    }

    .rows ul li {
        display: inline-block;
    }
    
    .footer-logo img {
        width: 250px;
    }
    .social {
        margin: auto;
    }
    /* End of Footer */
}
/* End of Media Queries */
