/* Default styles */
* {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Futura, "Trebuchet MS", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;;
}
body {
    margin: 0;
    display: grid;
}
.row {
    margin: 0;
}
ul {
    list-style: none;
}
/* End of Default Styles */



/* Navbar Styles */
.navbar {
    width: 100%;
    padding: 25px;
}
.nav-div {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menus {
    padding: 10px 0;
}
.menus ul li{
    display: inline;
    padding: 10px;
}
.search-box {
    padding: 10px;
    height: 35px;
}
.search-btn {
    border: none;
    position: relative;
    top: 2px;
    left: -7px;
    font-size: 22px;
    height: 35px;
    background: #1089FE;
}
.login-btn {
    background: #1089FE;
    border: none;
    padding: 0 40px;
    border-radius: 50px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    color: #FFFFFF;
}
/* End of Navbar Styles */

/* First Section of page */
.container-1 {
    width: 100%;
    padding: 10px;
    margin: 0;   
}
.right-1 img{
    height: 100%;
}
.left-text-div {
    padding: 60px;
}
.left-text-div h2 {
    text-transform: uppercase;
    font-weight: bolder;
}
.left-text-div p {
    font-size: 17px;
    line-height: 25px;
}
.left-text-div button {
    border: none;
    padding: 7px 25px;
    background: #1089FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #fff;
    z-index: 1;
}
.ellipse {
    position: relative;
    top: -100px;
}
/* End of First Section of Page */

/* Second Section */
.container-2 {
    width: 100%;
    padding: 10px;
    margin-top: -320px;
}
.header-2-div {
    text-align: center;
}
.tabs-div {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabs-div h3 {
    margin: 20px;
    padding: 10px;
}
.active {
    border-bottom: 5px solid #FFC806;
}
.slideshow-div {
    width: 50%;
    margin: 30px auto;
}
.slideshow-img-div img{
    width: 100%;
}
.slideshow-text {
    background: #E7E7E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.slideshow-text img {
    width: 100px;
    margin-left: 30px;
}
.base-text {
    padding-left: 15px;
}
.base-text p {
    margin: 0;
}
.base-text h2 {
    font-size: 30px;
    font-weight: bold;
}
.dots-div {
    text-align: center;
}
.dots span {
    font-size:40px;
}
/* End of Second Section */

/* Third Section */
.container-3 {
    width: 100%;
    padding: 10px;
    margin-bottom: 100px;
    
}
.header-3-div {
    text-align: center;
    margin-bottom: 40px;
    
}
.why-flex-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.why {
    width: 300px;
}
.why h4 {
    font-weight: bold;
}
.why img {
    width: 45px;
}
/* End of Third Section */

/* Forth Section */
.container-4 {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    
}
.header-4-div {
    text-align: center;
    margin-bottom: 40px;
}
.feat-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.feat {
    width: 300px;
}
.un {
    width: 45px;
}
.special {
    width: 300px;
}
/* End of Forth Section */

/* Fifth Section */
.container-5 {
    width: 100%;
    margin-bottom: 50px;
    
}
.header-5-div {
    text-align: center;
    margin-bottom: 40px;
    
}
.card-1 {
    background-image: linear-gradient(90deg, #6101ab7a, #6101ab7a), url('../images/Explore/mobile-technology\ 1.png');
    margin: 20px;
    width: 100%;
    padding: 30px;
    color: #fff;
}
.card-2 {
    background-image: linear-gradient(90deg, #02007885, #02007885), url('../images/Explore/top-web-development-tools-every-developer-should-use\ 1.png');
    margin: 20px;
    width: 100%;
    padding: 30px;
    color: #fff;
}
.card-3 {
    background-image: linear-gradient(90deg, #d2000083, #d2000083), url('../images/Explore/Enterprise-Inertia-Slowing-Down-DevSecOps-1280x720\ 1.png');
    margin: 20px;
    width: 100%;
    padding: 30px;
    color: #fff;
    
}
.card-icon-div {
    text-align: center;
}
.card-icon-div img{
    margin: auto;
}
.card-1 h3, .card-2 h3, .card-3 h3 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
/* End of Fifth Section */

/* Sixth Section */
.container-6 {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    
}
.header-6-div {
    text-align: center;
    margin-bottom: 40px;
}
.course-div {
    width: 200px;
    margin: auto;
}
.course-div img {
    border: 2px solid rgba(0, 0, 0, 0.281);
    padding: 50px 10px;
}
.view-btn {
    background: #1088FB;
    color: white;
    padding: 5px 10px;
    border: none;
}
.container-6 div.row {
    margin-bottom: 40px;
}
.more-courses-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.view-more {
    border: 1px solid #000000;
    background: transparent;
    padding: 8px 16px;
    color: #1089FE;
}
/* End of Sixth Section */

/* Seventh Section */
.container-7 {
    width: 100%;
    margin-bottom: 50px;
    
}
.main-7-text {
    margin: auto;
    text-align: center;
    max-width: 1000px;
}
.main-7-text h2 {
    font-weight: bold;
    padding-bottom: 30px;
    
}
.sub-form-div {
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 10px;
}
.email-box {
    padding: 20px 20px;
    width: 450px;
}
.sub-btn {
    padding: 22px 50px;
    border: none;
    margin-left: -10px;
    border-left: 1px solid black;
    background: #1185F6;
    color: #fff;
}
/* End of Seventh Section */

/* Footer */
.footer {
    max-width: 100%;
    /* padding: 20px; */
    background: #222222;
    margin: 0;
    color: #fff;
    padding: 30px;
}
.footer-logo p {
    line-height: 25px;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rows ul li {
    padding: 10px;
}
.last {
    padding-top: 30px;
    text-align: center;
}
/* End of Footer */